# Copy this file to .env and fill in your values for local development

# Django
DJANGO_SECRET_KEY=replace-me-with-a-secret-key
DJANGO_DEBUG=True

# Database (MySQL example)
DJANGO_DB_ENGINE=mysql.connector.django
DJANGO_DB_NAME=bvrwss7u4fog81r0hhbj
DJANGO_DB_USER=uelrvcbgeqqjbfxu
DJANGO_DB_PASSWORD=vkrKG0flCt5XzZbUQzZS
DJANGO_DB_HOST=bvrwss7u4fog81r0hhbj-mysql.services.clever-cloud.com
DJANGO_DB_PORT=3306
