# Copy this file to .env and fill in your values for local development

# Django
DJANGO_SECRET_KEY=replace-me-with-a-secret-key
DJANGO_DEBUG=True

# Database (MySQL example)
DJANGO_DB_ENGINE=mysql.connector.django
DJANGO_DB_NAME=***REMOVED-DB-NAME***
DJANGO_DB_USER=***REMOVED-DB-USER***
DJANGO_DB_PASSWORD=***REMOVED-DB-PASSWORD***
DJANGO_DB_HOST=***REMOVED-DB-HOST***
DJANGO_DB_PORT=3306
