asgiref==3.12.1
asttokens==2.2.1
autopep8==2.0.2
backcall==0.2.0
colorama==0.4.6
comm==0.2.2
cryptography==50.0.0
debugpy==1.8.9
decorator==5.1.1
distlib==0.3.8
Django==5.2.17
django-ckeditor==6.7.3
django-js-asset==2.1.0
executing==1.2.0
filelock==3.20.3
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
matplotlib-inline==0.1.7
PyMySQL==1.1.1
nest-asyncio==1.6.0
packaging==24.2
parso==0.8.4
pickleshare==0.7.5
Pillow==12.3.0
platformdirs==4.3.6
prompt-toolkit==3.0.48
protobuf==5.29.6
psutil==6.1.1
pure-eval==0.2.2
pycodestyle==2.12.1
pydocstyle==6.3.0
Pygments==2.20.0
python-dateutil==2.9.0
pyzmq==26.2.0
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.5.4
stack-data==0.6.3
tornado==6.5.7
traitlets==5.14.3
tzdata==2024.2
virtualenv==20.36.1
wcwidth==0.2.6
python-dotenv==1.2.2
