<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'aplicacion/assets/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link href="{% static 'aplicacion/css/styles.css' %}" rel="stylesheet" />
  <title>
    {% block title %}Inicio{% endblock %}
  </title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'recetas' %}">Recetas</a></li>
        <li><a href="{% url 'cocineros' %}">Cocineros</a></li>
        <li><a href="{% url 'restaurantes' %}">Restaurantes</a></li>
        <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
        <li><a href="{% url 'acerca_de_mi' %}">Acerca de mi</a></li>
      </ul>
      <h1>Cocinando ando - Ideas para tu cocina</h1>
    </nav>
  </header>
  <main>
    <section>
      {% block content %}
      <h2>Busqueda de recetas</h>
        <form action="" method="POST" class="search-form">
          {% csrf_token %}
          <input type="text" id="nombre" name="nombre" placeholder="Comida a buscar...">
          <button type="submit">Buscar</button>
        </form>
        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}
        {% for receta in recetas %}
        <div class="card">
          <div class="card-header">
            <h3>{{receta.nombre}}</h3>
          </div>
          <div class="card-body">
            <p><span>Ingredientes:</span> {{receta.ingredientes}}</p>
            <p><span>Tiempo:</span> {{receta.tiempo}} minutos</p>
            <p><span>Dificultad:</span> {{receta.dificultad}} / 3</p>
          </div>
        </div>
        {% endfor %}
        {% endblock %}
    </section>
  </main>
  <script src="https://kit.fontawesome.com/94c0117dd6.js" crossorigin="anonymous"></script>
  <script src="{% static 'aplicacion/js/main.js' %}"></script>
</body>

</html>