<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'aplicacion/assets/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  <link href="{% static 'aplicacion/css/styles.css' %}" rel="stylesheet" />
  <title>
    {% block title %}Inicio{% endblock %}
  </title>
</head>

<body>
  <header>
    <nav class="sesion">
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'editar_perfil' %}" title="Editar perfil" class="avatar-container">
            <img src="{{ request.session.avatar }}" class="avatar rounded" />
            {{ user.username }}
          </a>
        </li>
        {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">
            <i class="fas fa-user-shield" title="Acceso administrador"></i>
          </a>
        </li>
        {% endif %}
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" title="Logout"></i> </a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registro' %}">Registro</a></li>
        {% endif %}
      </ul>
    </nav>
    <nav class="urls">
      <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'recetas' %}">Recetas</a></li>
        <li><a href="{% url 'cocineros' %}">Cocineros</a></li>
        <li><a href="{% url 'restaurantes' %}">Restaurantes</a></li>
        <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
        {% endif %}
        <li><a href="{% url 'acerca_de_mi' %}">Acerca de mi</a></li>
      </ul>
      <h1>Cocinando ando - Gestión de restaurantes</h1>
    </nav>
  </header>
  <main>
    {% block content %}
    <form action="" method="POST" class="search-form">
      {% csrf_token %}
      <label for="nombre">Buscar una receta: </label>
      <input type="text" id="nombre" name="nombre" placeholder="Hamburguesas...">
      <button type="submit">Buscar</button>
    </form>
    <hr>
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
    <section class="card-container">
      {% for receta in recetas %}
      <a href="{% url 'detail_receta' receta.id %}">
        <div class="card">
          <div class="card-header">
            <div class="h3-container">
              <h3>{{receta.nombre}}</h3>
            </div>
            <img src="{{receta.imagen_url}}" alt="{{receta.nombre}}">
          </div>
          <div class="card-body">
            <p>⏳ {{receta.tiempo}} minutos</p>
            <p>📊 <span>Dificultad:</span> {{receta.dificultad}} / 3</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </section>
    {% endblock %}
  </main>
  <script src="https://kit.fontawesome.com/94c0117dd6.js" crossorigin="anonymous"></script>
  <script src="{% static 'aplicacion/js/main.js' %}"></script>
</body>

</html>