<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'aplicacion/assets/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link href="{% static 'aplicacion/css/styles.css' %}" rel="stylesheet" />
  <title>
    {% block title %}Inicio{% endblock %}
  </title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'recetas' %}">Recetas</a></li>
        <li><a href="{% url 'cocineros' %}">Cocineros</a></li>
        <li><a href="{% url 'restaurantes' %}">Restaurantes</a></li>
      </ul>
    </nav>
    <h1>Cocinando ando - Página para tu cocina</h1>
  </header>
  <main>
    <section>
      {% block content %}
        <h1>Busqueda</h1>
      {% endblock %}
    </section>
  </main>
</body>

</html>