{% extends "aplicacion/index.html" %}
{% block title %} Restaurante {% endblock %}
{% block content %}
<h2>Listado de Restaurantes</h2>
<dialog id="dialog">
    <form action="" method="POST" class="input-form">
      {% csrf_token %}
      {{ form }}
      <div class="inline">
        <button type="submit">Enviar</button>
        <button id="close-dialog">Cerrar</button>
      </div>
    </form>
  </dialog>
  <button id="show-dialog">Agregar restaurante</button>
<table>
    <thead>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Categoría</th>
    </thead>
    <tbody>
        {% for restaurante in restaurantes %}
        <tr>
            <td>{{restaurante.nombre}}</td>
            <td>{{restaurante.direccion}}</td>
            <td>{{restaurante.telefono}}</td>
            <td>{{restaurante.categoria}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}