{% extends "aplicacion/index.html" %}
{% block title %} Proveedores {% endblock %}
{% block content %}
<h2>Listado de Proveedores</h2>
<dialog id="dialog">
  <form action="" method="POST" class="input-form">
    {% csrf_token %}
    {{ form }}
    <div class="inline">
      <button type="submit">Enviar</button>
      <button id="close-dialog">Cerrar</button>
    </div>
  </form>
</dialog>
<button id="show-dialog">Cargar nuevo proveedor</button>
<table>
  <thead>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>Producto</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    {% for proveedor in proveedores %}
    <tr>
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>{{proveedor.email}}</td>
      <td>{{proveedor.producto}}</td>
      <td>
        <a href="{% url 'detail_proveedor' proveedor.id %}">
          <i class="fa-regular fa-eye" style="color: #ffffff;" title="Ver proveedor"></i>
        </a>
        <a href="{% url 'edit_proveedor' proveedor.id %}">
          <i class="fa-regular fa-edit" style="color: #ffffff;" title="Editar proveedor"></i>
        </a>
        <a href="{% url 'delete_proveedor' proveedor.id %}">
          <i class="fa-regular fa-trash-can" style="color: #ffffff;" title="Eliminar proveedor"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}