* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0 2em 0;
  padding: 0;
  font-size: 1.5em;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

td,
th {
  text-align: center;
}

th {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  font-style: italic;
}

#show-dialog {
  display: block;
  margin: 2em auto;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6em;
}

.input-form label {
  margin: 1em 0 .5em 0
}

.inline {
  display: flex;
  margin-top: 2em;
}

.inline #close-dialog {
  background-color: #31414e;
}