* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

nav.urls {
  min-height: 40vh;
}

nav.sesion ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 1em;
  margin: 0;
  padding: .7em;
}

nav.sesion i {
  font-size: 2em;
}

.urls ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2em;
  margin: 0;
  font-size: 1.5em;
}

li {
  list-style: none;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .9em;
}

.link-avatar{
  display: inline-block;
  padding: .8em;
  border-radius: 5px;
  background-color: #31414e;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.sesion a:hover,
.sesion a i:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.rounded {
  border: 2px solid #fff;
}

.rounded:hover {
  border: 2px solid #31414e;
}

.avatar:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

header {
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header a {
  text-decoration: none;
  color: #1a242f;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ffffff;
}

h1 {
  color: #31414e;
  text-shadow: 1px 1px 5px #ffffff;
}

h2 {
  margin: 2em 0;
}

h1,
h2 {
  text-align: center;
}

button {
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #31414e;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-left: .5em;
}

table {
  margin-bottom: 5em;
}

table a:hover {
  text-decoration: none;
}

td,
th {
  text-align: center;
  /* Alinear verticalmente */
  vertical-align: middle;
}

td a {
  margin: 0 .3em;
}

th {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  font-style: italic;
}

.food-img {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  object-fit: cover;
}

.error, .errorlist {
  color: red;
  text-align: center;
}

.helptext {
  font-size: .8em;
  color: #7c7511;
}


#show-dialog {
  display: block;
  margin: 2em auto;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form,
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

input#nombre {
  margin: 0;
}

.input-form label {
  margin: 1em 0 .5em 0
}

.inline {
  display: flex;
  margin-top: 2em;
}

.inline #close-dialog {
  background-color: #31414e;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
  align-items: stretch;
  justify-content: center;
}

.card-container a {
  color: inherit
}

.card-container a:hover {
  text-decoration: none;
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}

.card {
  font-size: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #31414e;
  box-shadow: 0 0 5px #546574;
}

.card-header {
  position: relative;
}

.card-header img {
  width: 100%;
  min-height: 200px;
  aspect-ratio: 2/1;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card .h3-container {
  position: absolute;
  color: #ffffff;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.h3-container h3 {
  background-color: rgba(0, 0, 0, .6)
}

.card span {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.title-confirm {
  text-align: center;
  margin: 2em 0;
}

section.about {
  min-height: 90vh;
}

article {
  min-height: 300px;
  width: 70%;
  margin: 2em auto;
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(26, 36, 47);
}

article a {
  color: inherit;
}

article ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: .6em 0;
  padding: 0;
  font-size: 1.2em;
}

.about-me {
  display: flex;
  align-items: stretch;
  gap: 2em;
  min-height: 450px;
}

.about-me__info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.3em;
  padding: 2em;
}

.about-me__img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.about-card img {
  width: 100px;
  height: auto;
  filter: invert(100%);
}

.about-me__info h3,
.about-me__info h4,
.about-me__info h5,
.about-me__info p {
  margin: 0;
}

.about-card h5 {
  font-weight: 400;
}

.profile-img {
  border-radius: 5px;
  filter: grayscale(100%);
}

.description-section h2 {
  font-size: 2.7em;
  margin: 0;
}

.description-section .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
}

.img-desc {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.description-section article {
  width: 90%;
  display: flex;
  padding: .7em;
  margin: 3em auto;
  border-radius: 15px;
  gap: 2em;
}

.card a.btn {
  display: block;
  margin: 0 auto;
}

.model-detail {
  min-height: 70vh;
}

.model-detail ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 1em;
  width: 400px;
  margin: 0 auto;
  padding: 2em;
  background-color: #364552;
  border-radius: 5px;
  color: #fff;
}

.model-detail span {
  font-weight: bold;
  font-weight: 1.2em;
  text-decoration: underline;
  margin-right: 5px;
}